nav {
    height:70px;
    background-color: #ffffff;
    
}

ul {
    list-style: none;
}

li:before {
    content: '|     ';
    color: lightgray;
    
}
ul li {
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px 3px;
    font-size: 20px;
    display: inline;   
    float: right; 
    clear: none;
}

a {
    color: #7777;
    text-decoration: none;
}

#edge {
    margin-right: 250px;
}

#nametag {
    margin-left: 80px;
    position: relative;
    top: 10px;
    left: 160px;
    font-size:40px;
    padding: 17px 30px;
    display: inline;
    color: #ffffff;
    background-color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

section {
    background-color: #ffffff;
    margin: auto;
    width: 960px;
    position: relative;
    top: 35px;
}
section header {
    width: 900px;
    margin: 0px auto;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color:#4aaaa5;
    border-bottom: 2px solid lightgray;
    padding: 20px;
}

section p {
    color: #777777;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    position: static;
    padding: 15px;
    margin:auto;
    
}

section h2 {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    padding: 20px;
    margin: 10px 0px 0px 3px;

}

.big-box {
    margin: 40px auto;
    position: relative;
    width: 960px;
}

#box1 {
    position: relative;
    margin: 0px auto;
    width: 920px;
    height: 30px;
    border: 1px solid #777777;
}

#box2 {
    position: relative;
    margin: 0px auto;
    width: 920px;
    height: 30px;
    border: 1px solid #777777;
}

#box3 {
    position: relative;
    margin: 0px auto;
    width: 920px;
    height: 150px;
    border: 1px solid #777777;
}

.submit {
    padding: 10px;
}

button {
    font-size: 25px;
    margin: 20px 20px;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    background-color: #4aaaa5;
}